# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Gradle files
/android/.gradle/
/android/.cxx/
/android/build/
/android/local.properties
/android/app/build/
/android/app/.cxx/
/android/app/intermediates/
/android/app/outputs/

# IDE-specific files
/android/.idea/
/android/*.iml

# Keystore files (if applicable)
/android/app/keystore.jks

# Logs and temporary files
/android/*.log
/android/**/*.log